
<div class="box">
  <!-- Displayed 3 cards in a single row -->
    <div class="card">
      <div class="imgBx">
          <img src="assets/images/Likhitha.jpg" alt="images">
      </div>
      <div class="details">
          <h2>Likhitha Vanga<br><span>The Chef</span></h2>
      </div>
    </div>
  
     <div class="card">
       <div class="imgBx">
          <img src="assets/images/swetha.jpg" alt="images">
       </div>
       <div class="details">
          <h2>Swetha venkatesan<br><span>The Manager</span></h2>
        </div>
     </div>

     <div class="card">
       <div class="imgBx">
          <img src="assets/images/sree-vandana.jpg" alt="images">
       </div>
       <div class="details">
          <h2>Sree Vandana<br><span>Business Head</span></h2>
        </div>
     </div>

</div> 