<section id="contact">
  
    <h1 class="section-header">CONTACT US</h1>

    <div class="row show-hide-message" ng-show ="form.errorMsg">
      <div class="alert alert-danger">{{form.errorMsg}}</div>
  </div>
    <div class="contact-wrapper">
      
        <!---------------- 
  
        CONTACT PAGE LEFT 
      
        -----------------> 
      
      <form class="form-horizontal">
         
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" placeholder="NAME" name="name" ng-model = "form.formData.name" required>
          </div>
        </div>
  
        <div class="form-group">
          <div class="col-sm-12">
            <input type="email" class="form-control" placeholder="EMAIL" name="email" ng-model = "form.formData.email"required>
          </div>
        </div>
  
        <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" ng-model = "form.formData.text"required></textarea>
        
        <button class="btn btn-primary send-button" ng-click="form.sendMsg(formData)">
          <div class="button">
            <span class="send-text">SEND</span>
          </div>
        
        </button>
        
      </form>
      
        <!---------------- 
  
        CONTACT PAGE RIGHT 
      
        -----------------> 
      
        <div class="direct-contact-container">
  
          <ul class="contact-list">
            <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">PORTLAND | OR</span></i></li>
            
            <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">(919) 111-2222</a></span></i></li>
            
            <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">fullstackprojectpdx@gmail.com</a></span></i></li>
            
          </ul>
  
          <hr>
          <ul class="social-media-list">
            <li><a href="https://github.com/swet09/FULLSTACK-PROJECT/" target="_blank" class="contact-icon">
              <i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa fa-codepen" aria-hidden="true"></i></a>
            </li>
          </ul>
          <hr>
  
          <div class="copyright">&copy; Follow Us</div>
  
        </div>
      
    </div>
    
  </section>  