<div class="drinksMenu">
<div class="row">
    
        <div class="col-md-4 text-center">
            <img src="../../assets/images/Pineapple Whip Freeze.jpg" alt="Avatar" >
            <footer>
                <h2>Pineapple Whip Freeze</h2>
                <h4>$2.69</h4>
            </footer>
    </div>
   
        <div class="col-md-4 text-center">
            <img src="../../assets/images/Tropicana Pink Lemonade.jpg" alt="Avatar" >
            <footer>
                <h2>Tropicana Pink Lemonade</h2>
                <h4>$2.69</h4>
            </footer>
        
    </div>
    
        <div class="col-md-4 text-center">
            <img src="../../assets/images/Regular Iced Coffee.jpg" alt="Avatar" >
            <footer>
                <h2>Regular Iced Coffee</h2>
                <h4>$1.29</h4>
            </footer>
        </div>
    

</div>

 
<div class="row">
    
        <div class="col-md-4 text-center">
            <img src="../../assets/images/Wild Strawberry Candy Freeze.jpg" alt="Avatar">
            <footer>
                <h2>Wild Strawberry Candy Freeze</h2>
                <h4>$2.69</h4>
            </footer>
        </div>
    
   
        <div class="col-md-4 text-center">
            <img src="../../assets/images/Mountain Dew Baja Blast Freeze.jpg" alt="Avatar">
            <footer>
                <h2>Mountain Dew Baja Blast Freeze</h2>
                <h4>$2.69</h4>
            </footer>
        </div>
  
        <div class="col-md-4 text-center">
            <img src="../../assets/images/Brisk Mango Fiesta.jpg" alt="Avatar">
            <footer>
                <h2>Brisk Mango Fiesta</h2>
                <h4>$1.29</h4>
            </footer>
        </div>
    

</div>
</div>