<div class="content faq" style="background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);">
    <h1>Frequently Asked Questions</h1>
    <br>
    <br>
    <div class="privacy">
    <h2>Is La Taco Open?</h2>
         <p>restaurants are open! In response to Coronavirus, most restaurants are operating through drive-thru and delivery only, and carry out where permitted. Hours of operation vary by location</p>
     <br>
     <br>
    <h2>How Can I Order La Taco?</h2>
     <p>You can login to our app and order for pickup or delivery</p>
     <br>
     <br>
 <h2>Is it safe to order at la taco during COVID?</h2>
     <p>Food quality and safety is our top priority, and we are proud to say we have industry-leading food safety standards.</p>
     <br>
     <br>
 <h2>WHERE DO YOUR INGREDIENTS COME FROM?</h2>
     <p>We buy many of our ingredients for our restaurants from the same brands that you see in the grocery store and your kitchen: for example, lettuce from Taylor Farms, tortillas from Mission, Hass avocados and poultry from Tyson.</p>
     <br>
     <br>
 <h2>DOES La Taco USE ARTIFICIAL COLORS AND FLAVORS IN ITS FOOD?</h2>
     <p>As a leading food brand, food quality and safety is our top priority, and we are proud to say we have industry-leading food quality standards. </p>
     <br>
     <br>
 <h2>ARE YOUR BEANS VEGETARIAN?</h2>
     <p>Yes! In fact both of our beans – black beans and refried beans – are certified vegan (2) by the American Vegetarian Association (AVA).</p>
     <br>
     <br>
 <h2>DOES YOUR GUACAMOLE HAVE DAIRY IN IT?</h2>
     <p>No. Our guacamole is made without dairy and is certified vegan (2) by the American Vegetarian Association</p>
     <br>
     <br>
 <h2>HOW CAN YOU AFFORD TO SELL FOOD AT SUCH A LOW PRICE?</h2>
     <p>When you buy a lot of anything, you usually get a pretty good deal on it. And that’s the case with our food.</p>
     <br>
     <br>
 <h2>HOW CAN I PAY FOR MY ORDER IN THE APP?</h2>
     <p>You can pay for your order with:</p>
         <p>*Debit or credit cards</p>
         <p>*Cash</p>
         <p>*Google pay or apple pay</p>
         <br>
 <h2>CHICKEN RAISED WITHOUT HUMAN ANTIBIOTICS</h2>
     <p>We are proud to serve chicken raised without antibiotics important to human medicine (1) in all our U.S. restaurants</p>
     <br>
         <br>
         <br>
 <h2>CAGE-FREE EGGS</h2>
     <p>We’re proud that our eggs come from hens raised in an open environment where they can feel comfortable and display their natural behaviors.</p>
     <br>
         <br>
         <br>
 <h2>SODIUM REDUCTION</h2>
     <p>Since 2008, we quietly reduced sodium by 15 percent on average across our menu. We’re not done yet.</p>
     <br>
     <br> 
 <h2>FOOD WASTE</h2> 
     <p>We and our franchisees serve over 42 million customers each week across our more than 7,000 U.S. restaurants. That’s a lot of people, and a lot of food.</p>
     <br>
     <br> 
 <h2>What devices support online ordering?</h2> 
     <p>Tacobell.com online ordering is available on any device with internet service and access to one of our supported browsers.</p>
     <br>
     <br>  
 <h2>Where is my credit/debit card info stored?</h2> 
     <p>La Taco® (“La Taco,” “we,” “our,” or “us”) is committed to protecting your privacy. This Taco Bell Privacy Policy (this “Policy”) applies to our websites, online experiences and mobile apps for Apple iOS, Windows, or Android mobile devices that link to this Policy (collectively, our “Sites”), and describes how we collect, use and disclose your personal information when you visit our Sites or our US restaurants and in-store kiosks, or otherwise engage with us (collectively, our “Service”).
        By accessing or using our Service, you signify that you have read, understood, and agree to our collection, storage, use, and disclosure of your personal information as described in this Policy and our Terms of Service.</p>
     <br>
     <br> 
 <h2>WHAT PERSONAL INFORMATION DO WE COLLECT ABOUT YOU?</h2> 
     <p>We collect personal information you provide to us in a variety of ways. For example, you may provide us your personal information when you place an order, register for an account, make an online purchase, post a review, send us messages, subscribe to our mailing lists, newsletters or other forms of marketing communications, submit an job application, participate in a survey, contest or sweepstakes, redeem a promotion, or use some other feature of our Service.</p>
     <br>
     <br> 
</div>
</div>