<div class="box">
    <div class="column">
        <div class="card">
            <a href="/tacos">
            <img src="../../assets/images/Tacos.jpeg" alt="Avatar" style="width:100%">
            </a>
            <footer>
                <h2>Taco Menu</h2>
            </footer>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href="/drinks">
            <img src="../../assets/images/mocktails.jpg" alt="Avatar" style="width:100%">
            </a>
            <footer>
                <h2>Drinks Menu</h2>
            </footer>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href="/sweets">
            <img src="../../assets/images/sweets.jpg" alt="Avatar" style="width:100%">
            </a>
            <footer>
                <h2>Sweets Menu</h2>
            </footer>
        </div>
    </div>
</div>