<div class="container marketing" style="background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);"></div>


<div class="box">
    <div class="column">
        <div class="card">
            <a href="/tacos">
            <img src="../../assets/images/Tacos.jpeg" alt="Avatar" style="width:100%">
            </a>
            <footer>
                <h2>Taco Menu</h2>
            </footer>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href="/drinks">
            <img src="../../assets/images/mocktails.jpg" alt="Avatar" style="width:100%">
            </a>
            <footer>
                <h2>Drinks Menu</h2>
            </footer>
        </div>
    </div>
</div>
   
<div class="box">
    <div class="column">
        <div class="card">
            <a href="/sides">
            <img src="../../assets/images/chips_and_nacho_cheese_sauce.jpg" alt="Avatar">
            </a>
            <footer>
                <h2>Sides Menu</h2>
                <br>
                <br>
            </footer>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href="/sweets">
            <img src="../../assets/images/sweets.jpg" alt="Avatar" style="width:100%">
            </a>
            <footer>
                <h2>Sweets Menu</h2>
            </footer>
        </div>
    </div>

</div>

</div>