<div class="container marketing" style="background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);">
    <div class="row">
        <div class="col-md-2 text-center" >
            <h2 style="text-align: center;">Taco <br> Menu <br>TodaySpecials<br> --->>></h2>
        </div>
        <div class="col-md-2 text-center" >
            <div class="card shop-items" >
                <div class="shop-item">
                    <h2>
                    <span class="shop-item-title">Flamin Hot Doritos Locos Tacos</span>
                    </h2>
                    <div class="shop-item-details">
                        <span class="shop-item-price">$1.89</span>
                        <br>
                        <label class="quantity" for="qty">Quantity</label>
                        <br>
                        <div class="space">
                            <select class="shop-item-qty" name="qty" id="qty"> 
                            <option value="none" selected disabled hidden> 
                                Select an qty 
                            </option> 
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            </select> 
                        </div>
                        <br>
                        <br>
                        <br>
                        <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div class="card shop-items">
                <div class="shop-item">
                    <h2>
                    <span class="shop-item-title">Triplelupa</span>
                    </h2>
                    <br>
                    <br>
                    <br>
                    <div class="shop-item-details">
                        <span class="shop-item-price">$3.49</span>
                        <br>
                        <label class="quantity" for="qty">Quantity</label>
                        <br>
                        <div class="space">
                            <select class="shop-item-qty" name="qty" id="qty"> 
                            <option value="none" selected disabled hidden> 
                                Select an qty 
                            </option> 
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            </select> 
                        </div>
                        <br>
                        <br>
                        <br>
                        <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-md-2 text-center">
            <div class="card shop-items">
                <div class="shop-item">
                    <h2>
                    <span class="shop-item-title">Triplelupa</span>
                    </h2>
                    <br>
                    <br>
                    <br>
                    <div class="shop-item-details">
                        <span class="shop-item-price">$3.49</span>
                        <br>
                        <label class="quantity" for="qty">Quantity</label>
                        <br>
                        <div class="space">
                            <select class="shop-item-qty" name="qty" id="qty"> 
                            <option value="none" selected disabled hidden> 
                                Select an qty 
                            </option> 
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            </select> 
                        </div>
                        <br>
                        <br>
                        <br>
                        <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-md-2 text-center">
            <div class="card shop-items">
                <div class="shop-item">
                    <h2>
                    <span class="shop-item-title">Triplelupa</span>
                    </h2>
                    <br>
                    <br>
                    <br>
                    <div class="shop-item-details">
                        <span class="shop-item-price">$3.49</span>
                        <br>
                        <label class="quantity" for="qty">Quantity</label>
                        <br>
                        <div class="space">
                            <select class="shop-item-qty" name="qty" id="qty"> 
                            <option value="none" selected disabled hidden> 
                                Select an qty 
                            </option> 
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            </select> 
                        </div>
                        <br>
                        <br>
                        <br>
                        <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center">
            
        </div>
        <div class="col-md-2 text-center">
            <div class="card shop-items">
                <div class="shop-item">
                    <h2>
                    <span class="shop-item-title">Nacho Cheese Doritos Locos Taco</span>
                    </h2>
                    
                    <br>
                    <div class="shop-item-details">
                        <span class="shop-item-price">$1.89</span>
                        <br>
                        <label class="quantity" for="qty">Quantity</label>
                        <br>
                        <div class="space">
                            <select class="shop-item-qty" name="qty" id="qty"> 
                            <option value="none" selected disabled hidden> 
                                Select an qty 
                            </option> 
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            </select> 
                        </div>
                        <br>
                        <br>
                        <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-md-2 text-center">
            <div class="card shop-items">
                <div class="shop-item">
                    <h2>
                    <span class="shop-item-title">Cheesy Gordita Crunch</span>
                    </h2>
                    <br>
                    <br>
                    <br>
                    <div class="shop-item-details">
                        <span class="shop-item-price">$3.69</span>
                        <br>
                        <label class="quantity" for="qty">Quantity</label>
                        <br>
                        <div class="space">
                            <select class="shop-item-qty" name="qty" id="qty"> 
                            <option value="none" selected disabled hidden> 
                                Select an qty 
                            </option> 
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            </select> 
                        </div>
                        <br>
                        <br>
                        <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-md-2 text-center">
            <div class="card shop-items">
                <div class="shop-item">
                    <h2>
                    <span class="shop-item-title">Chalupa Supreme</span>
                    </h2>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="shop-item-details">
                        <span class="shop-item-price">$3.69</span>
                        <br>
                        <label class="quantity" for="qty">Quantity</label>
                        <br>
                        <div class="space">
                            <select class="shop-item-qty" name="qty" id="qty"> 
                            <option value="none" selected disabled hidden> 
                                Select an qty 
                            </option> 
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            </select> 
                        </div>
                        <br>
                        <br>
                        <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-md-2 text-center">
            <div class="card shop-items">
                <div class="shop-item">
                    <h2>
                    <span class="shop-item-title">Crunchwrap Supreme</span>
                    </h2>
                    <br>
                    <br>
                    <br>
                    <div class="shop-item-details">
                        <span class="shop-item-price">$3.99</span>
                        <br>
                        <label class="quantity" for="qty">Quantity</label>
                        <br>
                        <div class="space">
                            <select class="shop-item-qty" name="qty" id="qty"> 
                            <option value="none" selected disabled hidden> 
                                Select an qty 
                            </option> 
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            </select> 
                        </div>
                        <br>
                        <br>
                        <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div> 
        </div>      
    </div>
    <div class="row">
        <div class="col-md-2 text-center" >
            <h2 style="text-align: center;">Drinks <br> Menu <br> --->>></h2>
        </div>
        <div class="col-md-2 text-center">
            <div class="card shop-items">
                <div class="shop-item">
                    <h2>
                    <span class="shop-item-title">Pineapple Whip Freeze</span>
                    </h2>
                    <br>
                    <br>
                    <br>
                    <div class="shop-item-details">
                        <span class="shop-item-price">$2.69</span>
                        <br>
                        <label class="quantity" for="qty">Quantity</label>
                        <br>
                        <div class="space">
                            <select class="shop-item-qty" name="qty" id="qty"> 
                            <option value="none" selected disabled hidden> 
                                Select an qty 
                            </option> 
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            </select> 
                        </div>
                        <br>
                        <br>
                        <br>
                        <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-md-2 text-center">
            <div class="card shop-items">
                <div class="shop-item">
                    <h2>
                    <span class="shop-item-title">Regular Iced Coffee</span>
                    </h2>
                    <br>
                    <br>
                    <br>
                    <div class="shop-item-details">
                        <span class="shop-item-price">$1.29</span>
                        <br>
                        <label class="quantity" for="qty">Quantity</label>
                        <br>
                        <div class="space">
                            <select class="shop-item-qty" name="qty" id="qty"> 
                            <option value="none" selected disabled hidden> 
                                Select an qty 
                            </option> 
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            </select> 
                        </div>
                        <br>
                        <br>
                        <br>
                        <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-md-2 text-center">
            <div class="card shop-items">
                <div class="shop-item">
                    <h2>
                    <span class="shop-item-title">Tropicanna Pink Lemonade</span>
                    </h2>
                    <br>
                    <br>
                    <br>
                    <div class="shop-item-details">
                        <span class="shop-item-price">$2.69</span>
                        <br>
                        <label class="quantity" for="qty">Quantity</label>
                        <br>
                        <div class="space">
                            <select class="shop-item-qty" name="qty" id="qty"> 
                            <option value="none" selected disabled hidden> 
                                Select an qty 
                            </option> 
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            </select> 
                        </div>
                        <br>
                        <br>
                        <br>
                        <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-md-2 text-center">
            <div class="card shop-items">
                <div class="shop-item">
                    <h2>
                    <span class="shop-item-title">Mountain Dew Baja Blast Freeze</span>
                    </h2>
                    <br>
                    <br>
                    <br>
                    <div class="shop-item-details">
                        <span class="shop-item-price">$2.69</span>
                        <br>
                        <label class="quantity" for="qty">Quantity</label>
                        <br>
                        <div class="space">
                            <select class="shop-item-qty" name="qty" id="qty"> 
                            <option value="none" selected disabled hidden> 
                                Select an qty 
                            </option> 
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            </select> 
                        </div>
                        
                        <br>
                        <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div> 
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12 text-center" style="background-color: white; margin-top:5px; padding-top: 10px;">
            <div>
               
                <br>
                <h1>Bill Summary</h1>
            </div>
            <section class="container content-section">
                    <h2 class="section-header">CART</h2>
                         <div class="cart-row">
                                <span class="cart-item cart-header cart-column">ITEM------------</span>
                                <span class="cart-price cart-header cart-column">PRICE----------</span>
                                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
                            </div>
                            <div class="cart-items">
                            </div>
                            <div class="cart-total">
                                <strong class="cart-total-title">Total</strong>
                                <span class="cart-total-price">$00.00</span>
                            </div>
                            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
                            <br>
                            <br>

            </section>
        </div>
    </div>
</div>