<div class="Page header">
  <!-- Hello {{main.username}} Home page route -->
  <div class="column">
    <div class="row">
      <div class="card">
          <header>
              <h1>TACOS</h1>
          </header>
      </div>
  </div>    
  <div class="row">
    <div class="card shop-items">
        <div class="shop-item">
            <header>
            <span class="shop-item-title">Flamin Hot Doritos Locos Tacos</span>
            </header>
            <div class="shop-item-details">
                <span class="shop-item-price">$1.89</span>
                <label for="qty">Quantity</label>
                <div class="space">
                    <select class="shop-item-qty" name="qty" id="qty"> 
                    <option value="none" selected disabled hidden> 
                        Select an qty 
                    </option> 
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    </select> 
                </div>
                <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
      <div class="card shop-items">
          <div class="shop-item">
              <header>
              <span class="shop-item-title">Triplelupa</span>
              </header>
              <div class="shop-item-details">
                  <span class="shop-item-price">$3.49</span>
                  <label for="qty">Quantity</label>
                  <div class="space">
                      <select class="shop-item-qty" name="qty" id="qty"> 
                      <option value="none" selected disabled hidden> 
                          Select an qty 
                      </option> 
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      </select> 
                  </div>
                  <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
              </div>
          </div>
      </div>
      </div>
      <div class="row">
        <div class="card shop-items">
            <div class="shop-item">
                <header>
                <span class="shop-item-title">Soft Taco</span>
                </header>
                <div class="shop-item-details">
                    <span class="shop-item-price">$1.29</span>
                    <label for="qty">Quantity</label>
                    <div class="space">
                        <select class="shop-item-qty" name="qty" id="qty"> 
                        <option value="none" selected disabled hidden> 
                            Select qty 
                        </option> 
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        </select> 
                    </div>
                    <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
          <div class="card shop-items">
              <div class="shop-item">
                  <header>
                  <span class="shop-item-title">Crunchy Taco</span>
                  </header>
                  <div class="shop-item-details">
                      <span class="shop-item-price">$1.29</span>
                      <label for="qty">Quantity</label>
                      <div class="space">
                          <select class="shop-item-qty" name="qty" id="qty"> 
                          <option value="none" selected disabled hidden> 
                              Select qty 
                          </option> 
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          </select> 
                      </div>
                      <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                  </div>
              </div>
          </div>
          </div>
          <div class="row">
            <div class="card shop-items">
                <div class="shop-item">
                    <header>
                    <span class="shop-item-title">Nacho Cheese Doritos Locos Taco</span>
                    </header>
                    <div class="shop-item-details">
                        <span class="shop-item-price">$1.89</span>
                        <label for="qty">Quantity</label>
                        <div class="space">
                            <select class="shop-item-qty" name="qty" id="qty"> 
                            <option value="none" selected disabled hidden> 
                                Select qty 
                            </option> 
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            </select> 
                        </div>
                        <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
              <div class="card shop-items">
                  <div class="shop-item">
                      <header>
                      <span class="shop-item-title">Chalupa Supreme</span>
                      </header>
                      <div class="shop-item-details">
                          <span class="shop-item-price">$3.69</span>
                          <label for="qty">Quantity</label>
                          <div class="space">
                              <select class="shop-item-qty" name="qty" id="qty"> 
                              <option value="none" selected disabled hidden> 
                                  Select qty 
                              </option> 
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              </select> 
                          </div>
                          <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                      </div>
                  </div>
              </div>
              </div>
              <div class="row">
                <div class="card shop-items">
                    <div class="shop-item">
                        <header>
                        <span class="shop-item-title">Cheesy Gordita Crunch</span>
                        </header>
                        <div class="shop-item-details">
                            <span class="shop-item-price">$3.69</span>
                            <label for="qty">Quantity</label>
                            <div class="space">
                                <select class="shop-item-qty" name="qty" id="qty"> 
                                <option value="none" selected disabled hidden> 
                                    Select qty 
                                </option> 
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                </select> 
                            </div>
                            <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                  <div class="card shop-items">
                      <div class="shop-item">
                          <header>
                          <span class="shop-item-title">Cheesy Gordita Crunch</span>
                          </header>
                          <div class="shop-item-details">
                              <span class="shop-item-price">$3.69</span>
                              <label for="qty">Quantity</label>
                              <div class="space">
                                  <select class="shop-item-qty" name="qty" id="qty"> 
                                  <option value="none" selected disabled hidden> 
                                      Select qty 
                                  </option> 
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  </select> 
                              </div>
                              <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                          </div>
                      </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="card shop-items">
                        <div class="shop-item">
                            <header>
                            <span class="shop-item-title">Spicy Potato Soft Taco</span>
                            </header>
                            <div class="shop-item-details">
                                <span class="shop-item-price">$1.23</span>
                                <label for="qty">Quantity</label>
                                <div class="space">
                                    <select class="shop-item-qty" name="qty" id="qty"> 
                                    <option value="none" selected disabled hidden> 
                                        Select qty 
                                    </option> 
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    </select> 
                                </div>
                                <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                      <div class="card shop-items">
                          <div class="shop-item">
                              <header>
                              <span class="shop-item-title">Crunchwrap Supreme</span>
                              </header>
                              <div class="shop-item-details">
                                  <span class="shop-item-price">$3.99</span>
                                  <label for="qty">Quantity</label>
                                  <div class="space">
                                      <select class="shop-item-qty" name="qty" id="qty"> 
                                      <option value="none" selected disabled hidden> 
                                          Select qty 
                                      </option> 
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      </select> 
                                  </div>
                                  <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                              </div>
                          </div>
                      </div>
                      </div>
                    </div>
                      <div class="column">
                        <div class="row">
                              <div class="card">
                                  <header>
                                      <h1>DRINKS</h1>
                                  </header>
                              </div>
                          </div>
                      <div class="row">
                        <div class="card shop-items">
                            <div class="shop-item">
                                <header>
                                <span class="shop-item-title">Pineapple Whip Freeze</span>
                                </header>
                                <div class="shop-item-details">
                                    <span class="shop-item-price">$2.69</span>
                                    <label for="qty">Quantity</label>
                                    <div class="space">
                                        <select class="shop-item-qty" name="qty" id="qty"> 
                                        <option value="none" selected disabled hidden> 
                                            Select qty 
                                        </option> 
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        </select> 
                                    </div>
                                    <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                          <div class="card shop-items">
                              <div class="shop-item">
                                  <header>
                                  <span class="shop-item-title">Tropicanna Pink Lemonade</span>
                                  </header>
                                  <div class="shop-item-details">
                                      <span class="shop-item-price">$2.69</span>
                                      <label for="qty">Quantity</label>
                                      <div class="space">
                                          <select class="shop-item-qty" name="qty" id="qty"> 
                                          <option value="none" selected disabled hidden> 
                                              Select qty 
                                          </option> 
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                          </select> 
                                      </div>
                                      <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                                  </div>
                              </div>
                          </div>
                          </div>
                          <div class="row">
                            <div class="card shop-items">
                                <div class="shop-item">
                                    <header>
                                    <span class="shop-item-title">Regular Iced Coffee</span>
                                    </header>
                                    <div class="shop-item-details">
                                        <span class="shop-item-price">$1.29</span>
                                        <label for="qty">Quantity</label>
                                        <div class="space">
                                            <select class="shop-item-qty" name="qty" id="qty"> 
                                            <option value="none" selected disabled hidden> 
                                                Select qty 
                                            </option> 
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            </select> 
                                        </div>
                                        <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                              <div class="card shop-items">
                                  <div class="shop-item">
                                      <header>
                                      <span class="shop-item-title">Wild Strawberry Candy Freeze</span>
                                      </header>
                                      <div class="shop-item-details">
                                          <span class="shop-item-price">$2.69</span>
                                          <label for="qty">Quantity</label>
                                          <div class="space">
                                              <select class="shop-item-qty" name="qty" id="qty"> 
                                              <option value="none" selected disabled hidden> 
                                                  Select qty 
                                              </option> 
                                              <option value="1">1</option>
                                              <option value="2">2</option>
                                              <option value="3">3</option>
                                              <option value="4">4</option>
                                              <option value="5">5</option>
                                              </select> 
                                          </div>
                                          <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                                      </div>
                                  </div>
                              </div>
                              </div>
                              <div class="row">
                                <div class="card shop-items">
                                    <div class="shop-item">
                                        <header>
                                        <span class="shop-item-title">Mountain Dew Baja Blast Freeze</span>
                                        </header>
                                        <div class="shop-item-details">
                                            <span class="shop-item-price">$2.69</span>
                                            <label for="qty">Quantity</label>
                                            <div class="space">
                                                <select class="shop-item-qty" name="qty" id="qty"> 
                                                <option value="none" selected disabled hidden> 
                                                    Select qty 
                                                </option> 
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                </select> 
                                            </div>
                                            <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                  <div class="card shop-items">
                                      <div class="shop-item">
                                          <header>
                                          <span class="shop-item-title">Brisk Mango Fiesta</span>
                                          </header>
                                          <div class="shop-item-details">
                                              <span class="shop-item-price">$1.29</span>
                                              <label for="qty">Quantity</label>
                                              <div class="space">
                                                  <select class="shop-item-qty" name="qty" id="qty"> 
                                                  <option value="none" selected disabled hidden> 
                                                      Select qty 
                                                  </option> 
                                                  <option value="1">1</option>
                                                  <option value="2">2</option>
                                                  <option value="3">3</option>
                                                  <option value="4">4</option>
                                                  <option value="5">5</option>
                                                  </select> 
                                              </div>
                                              <button class="btn btn-success shop-item-button" type="button">ADD TO CART</button>
                                          </div>
                                      </div>
                                  </div>
                                  </div>
                            </div>
                            <div class="column">
                              <div class="card">
                                  <header>
                                      <h1>Bill Summary</h1>
                                  </header>
                              <section class="container content-section">
                                <h2 class="section-header">CART</h2>
                                <div class="cart-row">
                                    <span class="cart-item cart-header cart-column">ITEM</span>
                                    <span class="cart-price cart-header cart-column">PRICE</span>
                                    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
                                </div>
                                <div class="cart-items">
                                    
                                </div>
                                <div class="cart-total">
                                    <strong class="cart-total-title">Total</strong>
                                    <span class="cart-total-price">$00.00</span>
                                </div>
                                <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
                            </section>
                          </div>        
</div>
