<div class="drinksMenu">
    <div class="row">
    
        <div class="col-md-4 text-center">
            <img src="../../assets/images/cheesy_roll_up.jpg" alt="Avatar" >
            <footer>
                <h2>Cheese Roll Up</h2>
                <h4>$1.00</h4>
            </footer>
        </div>
   
        <div class="col-md-4 text-center">
            <img src="../../assets/images/chips_and_nacho_cheese_sauce.jpg" alt="Avatar" >
            <footer>
                <h2>Chips and Nacho Cheese Sauce</h2>
                <h4>$1.69</h4>
            </footer>
        
    </div>
    
        <div class="col-md-4 text-center">
            <img src="../../assets/images/chips_and_guacamole.jpg" alt="Avatar" >
            <footer>
                <h2>Chips and Guacamole</h2>
                <h4>$1.49</h4>
            </footer>
        </div>
    

</div>

</div>
