<div class="drinksMenu">
    <div class="row">
    
        <div class="col-md-4 text-center">
            <img src="../../assets/images/cinnamon_twists.jpg" alt="Avatar" >
            <footer>
                <h2>Cinnamon Twists</h2>
                <h4>$1.00</h4>
            </footer>
        </div>
   
        <div class="col-md-4 text-center">
            <img src="../../assets/images/CINNABON DELIGHTS_2.jpg" alt="Avatar" >
            <footer>
                <h2>Cinnabon Delights(2)</h2>
                <h4>$1.00</h4>
            </footer>
        
    </div>
    
        <div class="col-md-4 text-center">
            <img src="../../assets/images/CINNABON DELIGHTS_12.jpg" alt="Avatar" >
            <footer>
                <h2>Cinnabon Delights(12)</h2>
                <h4>$4.99</h4>
            </footer>
        </div>
    

</div>

</div>
