<div class="container marketing" style="background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);">
<div class="row">
        <div class="col-md-4 text-center" >
            <img src="../../assets/images/flame supreme-2.jpg" alt="Avatar">
            <footer>
                <h2>Flamin Hot Doritos Locos Tacos</h2>
                <h4>$1.89</h4>
            </footer>
        </div>
   
        <div class="col-md-4 text-center">
            <img src="../../assets/images/Triplelupa-3.jpg" alt="Avatar">
            <footer>
                <h2>Triplelupa</h2>
                <h4>$3.49</h4>
            </footer>
        </div>
    
        <div class="col-md-4 text-center">
            <img src="../../assets/images/soft taco-4.jpg" alt="Avatar">
            <footer>
                <h2>Soft Taco</h2>
                <h4>$1.29</h4>
            </footer>
        </div>
   
</div>


<div class="row">
    
        <div class="col-md-4 text-center">
            <img src="../../assets/images/Crunchy Taco-4.jpg" alt="Avatar">
            <footer>
                <h2>Crunchy Taco</h2>
                <h4>$1.29</h4>
            </footer>
        </div>
  
        <div class="col-md-4 text-center">
            <img src="../../assets/images/Nacho Cheese Doritos Locos Tacos-5.jpg" alt="Avatar" >
            <footer>
                <h2>Nacho Cheese Doritos Locos Tacos</h2>
                <h4>$1.89</h4>
            </footer>
        </div>
 
        <div class="col-md-4 text-center">
            <img src="../../assets/images/Chalupa Superme-6.jpg" alt="Avatar">
            <footer>
                <h2>Chalupa Superme</h2>
                <h4>$3.69</h4>
            </footer>
        </div>
   

</div>


<div class="row">
    
        <div class="col-md-4 text-center">
            <img src="../../assets/images/Cheesy Gordita Crunch-7.jpg" alt="Avatar" >
            <footer>
                <h2>Cheesy Gordita Crunch</h2>
                <h4>$3.69</h4>
            </footer>
        </div>
    
        <div class="col-md-4 text-center">
            <img src="../../assets/images/Spicy Potato Soft Taco-8.jpg" alt="Avatar">
            <footer>
                <h2>Spicy Potato Soft Taco</h2>
                <h4>$1.23</h4>
            </footer>
        </div>
   
        <div class="col-md-4 text-center">
            <img src="../../assets/images/Crunchwrap Superme-9.jpg" alt="Avatar">
            <footer>
                <h2>Crunchwrap Superme</h2>
                <h4>$3.99</h4>
            </footer>
        </div>  
</div>
</div>