<div class="content faq" style="background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);">
    <h1>Terms Of Use</h1>
        <p>Last modified: August 1, 2020</p>  

    <div class="privacy">
        Your use of the web sites and apps on which these terms reside (collectively, the “Platform”), and the 
        features, loyalty and other programs, events and services offered on or in connection with this Platform 
        (collectively, the “Services”), are subject to these Terms of Use (this “Agreement”), which sets forth a 
        legally binding agreement between you and La Taco Corp. (“La Taco”).
        <br>
        <br>

        Please read this Agreement carefully before using this Platform or participating in any Services. 
        If you do not agree to the terms contained in this Agreement, then you may not use the Platform or 
        participate in the Services. Your use of the Platform and/or participation in any Service constitutes 
        your acknowledgement that you have the legal authority to bind yourself or any party you represent to, 
        and your acceptance of, this Agreement. This includes, but is not limited to, conducting this transaction 
        electronically and accepting the disclaimer of warranties, damage and remedy exclusions and limitations, 
        binding arbitration, and a choice of California law. You acknowledge that you have read and agree to be 
        bound by this Agreement and to comply with all applicable laws, regulations, and/or rules with regard to 
        your use of the Platform.
        <br>
        <br>
        From time to time La Taco may update this Platform and this Agreement. Your use of this Platform after 
        La Taco posts changes to this Agreement constitutes your agreement to those changes effective immediately 
        and prospectively from the date of such changes. La Taco may, in its sole discretion, and at any time, 
        discontinue this Platform or any part thereof and any of the Services, with or without notice, or may 
        prevent your use of this Platform and/or the Services with or without notice to you. You agree that you do 
        not have any rights in this Platform and La Taco will have no liability to you if this Platform is discontinued 
        or your ability to access the Platform is terminated.
        <br>
        <br>
        YOU MAY NOT USE THE PLATFORM FOR ANY PURPOSE THAT IS UNLAWFUL OR PROHIBITED BY THIS AGREEMENT. YOUR ACCESS TO THE PLATFORM MAY BE TERMINATED IMMEDIATELY IN La Taco’S SOLE DISCRETION, WITH OR WITHOUT NOTICE, IF YOU FAIL TO COMPLY WITH ANY PROVISION OF THIS AGREEMENT AND/OR ADDITIONAL TERMS, OR FOR ANY OTHER REASON, OR FOR NO REASON.

    </div>
</div>