<!DOCTYPE html>
<html lang="en">
<head>

  <base href="/">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>check-out-page</title>

  <link rel="stylesheet" type="text/css" href="assets/css/checkout.css">

  <!-- <script src="//code.angularjs.org/1.8.0/angular.min.js"></script>
  <script src="//code.angularjs.org/1.8.0/angular-animate.js"></script>
  <script src="assets/js/checkout.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>

<body ng-app="">

  <header class="user__header">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
    <h4 class="user__title">Tasty Meal waiting for You!!!</h4>
  </header>

  <!-- <div ng-controller="radio__option"> -->
    <section class="grid-container" >

      <div class="heading" ><h4>Choose Check-Out Option</h4></div>
      
        <div class="radio Button1">
          <input ng-model="selection" type="radio" id='pickUp' name='checkOutOption' value="Pick Up">
          <label for='pickUp'><b>Pick Up</b></label>
        </div>

        <div class="radio Button2">
          <input ng-model="selection" type="radio" id='cod' name='checkOutOption' value="Cash On Delivery">
          <label for='cod'><b>Cash On Delivery</b></label>
        </div>

        <div class="radio Button3" >
          <input ng-model="selection" type="radio" id='card' name='checkOutOption' value="Card Payment">
          <label for='card'><b>Card Payment</b></label>
        </div>
        

    </section>

    <div ng-switch="selection" class="animate-switch-container">
      <div ng-switch-when="Pick Up" class="pu">
        <!-- <div class="picup__option"> -->
          <section class="pickup-grid-container" class="pickup__grid">

            <div class="puheading" ><h4>Pick Up</h4></div>

            <div class="radiopu puButton1">
              <input type="radio" id='pun' name='pickupOption' value="Pick Up">
              <label for='pun'><b>Pick Up Now.</b></label>
            </div>
    
            <div class="radiopu puButton2">
              <input type="radio" id='pul' name='pickupOption' value="pick up later">
              <label for='pul'><b>Pick up later</b></label>
            </div>

          </section>

      </div>

      <div ng-switch-when="Cash On Delivery" class="animate-switch">
        <!-- <div class="cod__option"></div> -->
        <section class="cod__grid">

          <!-- <div class="codheading" ><h2>Delivary Address</h2></div> -->

            <form class="form">
              <div class="codheading" ><h2>Delivary Address</h2></div>

              <div class="form__group">
                  <input type="text" placeholder="Address Line 1" class="form__input" required ="true"/>
              </div>
              
              <div class="form__group">
                  <input type="email" placeholder="Address Line 2" class="form__input" required ="true"/>
              </div>
              
              <div class="form__group">
                  <input type="password" placeholder="Phone Number" class="form__input" required ="true"/>
              </div>
              
              <button class="btn btn-primary" type="button">Deliver To This Address</button>
          </form>

        </section>
      </div>
      <div ng-switch-when="Card Payment" class="animate-switch">
        <!-- <div class="card__option"></div> -->

      </div>
    </div>

</body>
</html>
