/* css for checkout-paymrnt option page */

*{
  font-family: "Roboto";
 }

body{
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 40px ;
 
  background-size: 200% 100% !important;
  background: linear-gradient(45deg, #7cd1af 10%, #92b7dd 70%, #68e4e4 20%);
   
   height: 100vh;
} 

.grid-container{
        opacity: 1;
}

/*for all radio buttons position*/

.radio {
        margin: 1px;
        color: black;
        text-align: left;
        padding-left: 70px;
        padding-top: 10px;
        font-size: 15px;  
      
      }


/*main grid container for holding main form*/

 .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 50px);
        background-color: white;
        color: black;
        width: 40fr;
        padding: 15px;
        grid-gap: 0px;
        border-radius: 6px;
      }

/*for inputs radio buttons to float correctly*/

      input[type=radio] {
        float: left;
         margin: 3px 3px 3px 3px;
       }

/*For tasty meal heading*/
   
   .heading{
     grid-column-start: 1;
     grid-column-end: 4;
     text-align: center;

   }

.user__title{
        padding-bottom: 30px;
        padding-top: 15px;
   }

.heading{
        color:rgb(48, 171, 187);
        font-size: 20px;
        }
        
.user__header {
        text-align: center;
        opacity: 0.5;
        padding-bottom: 0px;
        }
        
 .user__title{
        line-height: 0px;
}

button{
        width: 100%;
}

.Button1{
        padding-right: 60px;
}

.Button2{
        padding-left: 80px;
}

.cardPay-form{
        border-radius: 9px;
}

.offset-md-3{
        background-color: #fff;
        margin-top: 25px;
        padding:20px; 
        border-radius: 6px;
        
}

