
 *{
  font-family: "Roboto";
 }

 
  body{
   padding-left: 25%;
   padding-right: 25%;
   padding-top: 40px ;
  
   background-size: 200% 100% !important;
    -webkit-animation: move 10s ease infinite;
            animation: move 10s ease infinite;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #4f9478 10%, #92b7dd 70%, #68e4e4 20%);
    
    height: 100vh;
 } 

 .grid-container{
  opacity: 1;
 }

 .radio {
  margin: 1px;
 /* background-color: red; */
  color: black;
  text-align: left;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 15px;  

}

 .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 60px);
  background-color: white;
  color: black;
  width: 40fr;
  padding: 10px;
  grid-gap: 0px;
  border-radius: 6px;
}

input[type=radio] {
     float: left;
      margin: 3px 3px 3px 3px;
    }

.heading{
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;

}

.Button1{
  /* background-color: green; */
  padding-left: 60px;
}
.heading{
color:rgb(48, 171, 187);
font-size: 20px;
}

.user__header {
  text-align: center;
  opacity: 0.5;
 padding-bottom: 0px;
}

.user__title{
line-height: 0px;}

/* pick-up option grid css */

.pu{
  padding-top:20px;
  -webkit-transform: translate3d(0, 500px, 0);
          transform: translate3d(0, 500px, 0);
  -webkit-animation: arrive 500ms ease-in-out 0.1s forwards;
          animation: arrive 500ms ease-in-out 0.1s forwards;
}

.pickup-grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 60px);
  /* background-color: yellow; */
  background-color: white;
  color: black;
  width: 40fr;
  padding: 10px;
  grid-gap: 0px;
  border-radius: 6px;
  width:50%;
  text-align: center;
  margin: auto;

  /* height:100px;adds height to yellow box */
}

.radiopu {
  margin: 1px;
  /* background-color: red; */
  color: black;
padding: 20px;   /* height: 150px; adds the height to red box */
}

.puheading{
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  color:rgb(48, 171, 187);
  font-size: 20px;
}

/**
cod grid container css
*/
.cod-grid-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 60px);
  background-color: yellow; 
  /* background-color: white; */
  color: black;
  width: 40fr;
  padding: 10px;
  grid-gap: 0px;
  border-radius: 6px;
  width:50%;
  text-align: center;
  margin: auto;
  
}
.codheading{
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  color:rgb(32, 122, 134);
  font-size: 20px;
}

.form {
  margin-top: 40px;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  width: 50%;
  margin: auto;
  -webkit-transform: translate3d(0, 500px, 0);
          transform: translate3d(0, 500px, 0);
  -webkit-animation: arrive 500ms ease-in-out 0.1s forwards;
          animation: arrive 500ms ease-in-out 0.1s forwards;
}


.form__input {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form__input:focus {
  background: #f7f7f7;

}

.form__input__select{
  display: inline;
  font-family: "Roboto";
  border: 0;
  outline: 0;
  transition: 0.3s;
  width: 49.3%;
  -webkit-appearance: none;
padding: 15px;
color: grey;
}

.btn {
  display: inline;
  width: 42.39%;
  padding: 20px;
  font-family: "Roboto";
  outline: 0;
  border: 0;
  color: white;
  background: lightslategray;
  cursor: pointer;
  
}

.btn:hover {
  color:rgb(13, 59, 59);

}

.cardheading{
  color:rgb(32, 122, 134);
text-align: center;
}

@-webkit-keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@-webkit-keyframes arrive {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes arrive {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}