.topnav a:hover {
    border-bottom: 3px solid red;
}



.navbar {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 8px 0px 8px 0px !important;
    overflow: hidden;
    max-width: 100%; 
    margin: 0px !important;
    padding: 0px !important;
}

a.navbar-brand {
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    color: purple !important;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

.container {
    max-width: 100% !important; 
    padding-right: 0px !important;
    padding-left: 0px !important;
   
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    font-size: large;
    font-weight: bold;
    color: teal !important;

}

.navbar-nav>li {
   
    padding-right: 20px;
    padding-left:20px;
}

.intro-text{
    font-style: italic;
    
   
}

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 35px;
    color: purple;
  }
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
  }
  .marketing h2 {
    font-weight: normal;
  }
  .marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  





