body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #555;
}
img {
  float: left;
  width:  300px;
  height: 300px;
  object-fit: cover;
}
a {
  color: rgb(0, 96, 96);
}

* {
  box-sizing: border-box;
}

.spaceCreated{

  max-width: 100%;
  margin: auto;
  padding-top: 8.6%;

}

.card {
  border: rgb(194, 194, 194) 1px solid;
  transition: 0.3s;
  width: 100%;
  padding: 0 15px;
}

.container {
  padding: 2px 16px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 2px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

header h2{
  margin: 15px 0;
}

footer h3{
  margin: 0 0 20px 0;
}

footer a{
  text-decoration: none;
}

.fa{
  font-size: 12px;
  margin-bottom: 3px;
}