body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: #555;
   
  }
  img {
    float: left;
    width:  50px;
    height: 120px;
    object-fit: cover;
  }
  a {
    color: rgb(0, 96, 96);
  }
  
  * {
    box-sizing: border-box;
  }

  p {
    padding: 2px 16px;
    font-size: 18px;
  }

 .space{
   padding-right: 20px;
 }

  label {
    padding: 2px 16px;
    font-size: 15px;
  }

  option{
    float: center;
    font-size: 15px;
  }

  select{
    float: center;
    font-size: 15px;
  }
  
  .card {
    border: rgb(194, 194, 194) 1px solid;
    transition: 0.3s;
    width: 100%;
    padding: 0 15px;
  }
  
  .row {
    padding: 2px 16px;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 2px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  header h2{
    margin: 15px 0;
  }
  
 button{
    margin: 0 0 20px 0;
    float: right;
  }

  
  .fa{
    font-size: 12px;
    margin-bottom: 3px;
  }


  
footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  text-transform: uppercase;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 40px;
}

footer ul.quicklinks {
  margin-bottom: 0;
  text-transform: uppercase;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 40px;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  outline: 0;
  color: #fff;
  background-color: #222;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #1ee2e7;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: 0;
}
